<div class="col-m-1">
  <div class="card m-1 box-shadow bg-secondary text-center" style="height: 15em; width: 15em;">
    <div class="card-body" style="background: <%= card.value.color %>;<% if (card.value.url) { %>;cursor: pointer;<%}%>"
      onclick="
      <% if (card.value.url)  {
        if (card.value.target == '_none') {
          %> jQuery.get('/proxy/<%= card.value.url %>') <%
        } else {
          %> window.open('<%= card.value.url %>', '<%= card.value.target %>') <%
        }
      }%>">
      <h4 class="card-title text-dark"><%= card.title %></h4>
      <h2 class="card-title text-light container"><%= card.value.text %></h2>
    </div>
  </div>
</div>
